<div id='empty-state' class='Aligner'>
    <div id='fist-participant' class='Aligner-item'>
    <div class='action-text Aligner-item'>take a seat</div>
    <div class='action-arrow Aligner-item'>
</div>
<button id='camera' class='camera-btn'></button></div>
