<div id='notify-er' class='Aligner'>
    <div id='notify-dialog' class='Aligner-item'>
        <div class='notify-text Aligner-item'>tell friends to come hang</div>
        <input type='text' id='notify-input' class='notify-input Aligner-item'></input>
        <button id='done' class='done-btn Aligner-item'>done</button>
    </div>
</div>
